{% extends "basic.html" %}
{% load static %}

{% block title %}
CodeWithJunior - About
{% endblock title %}
<link href="{% static "assets/img/img.png" rel="icon" %}">



{% block body %}
<!-- About Section -->
<section id="about" class="about section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
      <h2>About</h2>
      <p>I am a passionate Full Stack Developer with over two years of experience specializing in Django, HTML, CSS, and TailwindCSS. My journey into web development started with a curiosity for how websites work and has grown into a full-fledged career where I thrive on creating efficient and aesthetically pleasing web applications.</p>
    </div><!-- End Section Title -->

    <div class="container" data-aos="fade-up" data-aos-delay="100">

      <div class="row gy-4 justify-content-center">
        <div class="col-lg-4">
          <img src="{% static "assets/img/img.png" %}" class="img-fluid" alt="">
        </div>
        <div class="col-lg-8 content">
          <h2>Graphics Designer &amp; Web Developer.</h2>
          <br>
          {% comment %} <p class="fst-italic py-3">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
            magna aliqua.
          </p> {% endcomment %}
          <div class="row">
            <div class="col-lg-6">
              <ul>
                <li><i class="bi bi-chevron-right"></i> <strong>Birthday:</strong> <span>3 March 2003</span></li>
                <li><i class="bi bi-chevron-right"></i> <strong>Website:</strong> <span><a href="http://codewithjunuor.onrender.com/">codewithjunior.onrender.com</a></span></li>
                <li><i class="bi bi-chevron-right"></i> <strong>Phone:</strong> <span>+234 70 6978 0275</span></li>
                <li><i class="bi bi-chevron-right"></i> <strong>City:</strong> <span>Port Harcourt, Nigeria</span></li>
              </ul>
            </div>
            <div class="col-lg-6">
              <ul>
                <li><i class="bi bi-chevron-right"></i> <strong>Age:</strong> <span>21</span></li>
                <li><i class="bi bi-chevron-right"></i> <strong>Degree:</strong> <span>Undergraduate</span></li>
                <li><i class="bi bi-chevron-right"></i> <strong>Email:</strong> <span>chibuzor.john.2018@gmail.com</span></li>
                <li><i class="bi bi-chevron-right"></i> <strong>Freelance:</strong> <span>Available</span></li>
              </ul>
            </div>
          </div>
          <p class="py-3">
            In addition to my web development skills, I also have a strong background in graphic design. My proficiency with tools such as Canva, Adobe Photoshop, and CorelDRAW allows me to create visually appealing graphics that enhance the user experience of the applications I develop.
          </p>
        </div>
      </div>

    </div>

  </section><!-- /About Section -->
{% endblock body %}


































