{% extends "basic.html" %}
{% block title %}
CodeWithJunior - Login
{% endblock title %}
{% block stylescss %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
{% endblock stylescss %}
{% block body %}
{% comment %} {% if message %} {% endcomment %}
{% for message in messages %}
<div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
    <strong>{{message}}</strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}
{% comment %} {% endif %} {% endcomment %}

<div class="form-div">

<div class="container mt-4 p-2">

<div class="row">

<div class="col-md-4"></div>

<div class="col-md-4" id="myform">
    
<h3 class="text-white bg-dark text-center p-3">
    Login
</h3>
<div class="card p-2" id="myform">
<form action="/auth/login/" method="POST">
        {% csrf_token %}
<div class="form-group">

    <span>
        <h5>
            <i class="bi bi-envelope navicon"></i>  Email:
        </h5>
    </span>
    {% comment %} <input type="email" name="email" id="" class="form-control mb-3" required> {% endcomment %}
    <input type="email" name="email" id="" class="form-control mb-3" required>
</div>
<div class="form-group">

    <span>
        <h5>
            <i class="fas fa-key"></i>  Password:
        </h5>
    </span>
    <input type="Password" name="pass1" id="" class="form-control mb-3" required>
</div>
<div class="d-grid gap-2">
    <button class="btn btn-dark" type="submit">Login</button>
    
</div>
<br>
New User? <a href="/auth/signup">Signup</a>
</div>
</form>

</div>

<div class="col-md-4"></div>

</div>

</div>
</div>
<style>
    
</style>
{% endblock body %}